@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply px-4 py-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
    }

    .textarea {
        @apply px-4 py-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent resize-none;
    }

    .btn-primary {
        @apply px-6 py-3 bg-blue-600 text-white font-medium rounded-2xl hover:bg-blue-700 active:bg-blue-700 disabled:bg-slate-400 disabled:cursor-not-allowed transition-all shadow-sm hover:shadow;
    }
    .btn-secondary {
        @apply px-6 py-3 bg-slate-400 text-white font-medium rounded-2xl hover:bg-slate-500 active:bg-slate-600 transition-all;
    }
}